# System Files
.DS_STORE

#Hardhat files
cache
artifacts
hardhat.config.js

# Dev Dependencies
node_modules
.env
coverage
coverage.json
typechain

# Flask
__pycache__
*.cfg
Lib
nft_server/Lib
nft_server/Scripts
nft_server/nfts.sqlite 
