# System Files
.DS_STORE


# Dev Dependencies
node_modules
.env

# Flask
__pycache__
*.cfg
Lib
nft_server/Lib
Scripts
nft_server/Scripts
# does not need to be in the repo
# users should start with a clean slate
nft_server/nfts.sqlite 
